<div class="container d-flex align-items-center justify-content-center mt-5 min-vh-100">
  <div class="text-center col-md-8" data-controller="num-of-hours-toggle">
    <h1 class="mb-4">Updating End Time</h1>

    <p class="m-0">For Control Number</p>
    <h2><%= @play.parent.control_number %></h2>

    <%= form_with(model: @play, url: play_path(@play), method: :patch, html: { class: 'needs-validation' }) do |f| %>
      <!-- Your form fields for creating a new play go here -->
      <div class="mb-3">
        <%= f.label :price, class: 'form-label', hidden: true %>
        <%= f.number_field :price, class: 'form-control', hidden: true %>
      </div>

      <div class="mb-3">
        <%= f.label :'How many kids will play?', class: 'form-label', hidden: true %>
        <%= f.number_field :number_of_kids, value: @play.number_of_kids, class: 'form-control', required: true, hidden: true %>
      </div>

      <div class="d-grid gap-2">
        <%= f.submit 'Continue', class: 'btn btn-primary', hidden: true %>
      </div>
    <% end %>
  </div>
</div>
