<div class="container d-flex align-items-center justify-content-center mt-5 min-vh-100">
  <div class="text-center" data-controller="num-of-hours-toggle">
    <h1 class="mb-4">Let's Play!</h1>

    <p class="m-0">Your Control Number</p>
    <h2><%= @parent.control_number %></h2>

    <%= form_with(model: [@parent, @play], url: parent_plays_path(@parent), method: :post, html: { class: 'needs-validation' }) do |f| %>
      <!-- Your form fields for creating a new play go here -->
      <div class="mb-3">
        <%= f.label :price, class: 'form-label' %>
        <%= f.number_field :price, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :'How many kids will play?', class: 'form-label' %>
        <%= f.number_field :number_of_kids, class: 'form-control', required: true %>
      </div>



      <div class="mb-3" id="duration-fields" data-num-of-hours-toggle-target='duration'>
        <%= f.label :'How many hours?', class: 'form-label' %>
        <%= f.number_field :number_of_hours, class: 'form-control', required: @play.open_time == true  ? true : false %>
      </div>

      <div class="mb-3 sample">
        <%= f.check_box :open_time, class: 'form-check-input', id: 'play_open_time', data: { num_of_hours_toggle_target: 'openTimeCheckboxToggle', action: 'click->num-of-hours-toggle#toggle' } %>
        <%= f.label :open_time, class: 'form-check-label'%>
      </div>


      <div class="d-grid gap-2">
        <%= f.submit 'Continue', class: 'btn btn-primary' %>
        <%= link_to "Cancel", parent_path(@parent), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
